include ../input-field/input-field.pug
include ../toggle/toggle.pug
include ../radiobuttons/radiobuttons.pug
include ../button/button.pug
include ./main-setup/main-setup.pug

mixin panel({radioGroupName = ''} = {})
  -
    const elementName = 'panel'

  div(class = `${elementName} js-${elementName}`)
    +main-setup()
    fieldset(class = `${elementName}__scale-setup`)
      legend Scale
      div(class = `${elementName}__scale-setup-component ${elementName}__scale-setup-component_type_scale js-${elementName}__scale-setup-component_type_scale`)
        +toggle({
          name: 'scale',
          usage: 'scale'})
      span scale base
      div(class = `${elementName}__scale-setup-component ${elementName}__scale-setup-component_type_scaleBase js-${elementName}__scale-setup-component_type_scaleBase`)
        +radiobuttons({
          categories:
          [{name:'step', usage: 'step', radioGroupName: ''}, 
          {name:'interval', usage: 'interval', radioGroupName: ''}],
          radioGroupName})
      div(class = `${elementName}__scale-setup-component ${elementName}__scale-setup-component_type_interval-step`)
        div(class = `${elementName}__scale-setup-component ${elementName}__scale-setup-component_type_step js-${elementName}__scale-setup-component_type_step`)
          +input-field({
            labelText: 'step',
            usage: 'step'})
        div(class = `${elementName}__scale-setup-component ${elementName}__scale-setup-component_type_interval js-${elementName}__scale-setup-component_type_interval`)
          +input-field({
            labelText: 'interval',
            usage: 'interval'})
    fieldset(class = `${elementName}__move-setup`)
      legend Control movement
      div(class = `${elementName}__move-setup-component ${elementName}__move-setup-component_type_sticky js-${elementName}__move-setup-component_type_sticky`)
        +toggle({name: 'sticky',
          usage: 'sticky'})
      div(class = `${elementName}__move-setup-component ${elementName}__move-setup-component_type_shiftOnKeyDown js-${elementName}__move-setup-component_type_shiftOnKeyDown`)
        +input-field({
          labelText: 'shift on key down',
          usage: 'shiftOnKeyDown'})
      div(class = `${elementName}__move-setup-component ${elementName}__move-setup-component_type_shiftOnKeyHold js-${elementName}__move-setup-component_type_shiftOnKeyHold`)
        +input-field({
          labelText: 'shift on key hold',
          usage: 'shiftOnKeyHold'})
    fieldset(class = `${elementName}__actions`)
      legend Actions
      div(class = `${elementName}__actions-component`)
        +toggle({
          name: 'subscribe events',
          usage: 'subscribe'})
      div(class = `${elementName}__actions-component`)
        +toggle({
          name: 'disable',
          usage: 'disable'})
      div(class = `${elementName}__actions-component`)
        +toggle({
          name: 'destroy',
          usage: 'destroy'})
    div(class = `${elementName}__apply`)
      +button({text: 'Apply changes'})



