include ../input-field/input-field.pug
include ../toggle/toggle.pug
include ../radiobuttons/radiobuttons.pug
include ../button/button.pug
include ./main-setup/main-setup.pug
include ./scale-setup/scale-setup.pug
include ./control-movement-setup/control-movement-setup.pug

mixin panel(options = {})
  -
    const elementName = 'panel'
    const {radioGroupName} = options

  div(class = `${elementName} js-${elementName}`)
    +main-setup()
    +scale-setup({radioGroupName})
    +control-movement-setup()
    fieldset(class = `${elementName}__actions`)
      legend Actions
      div(class = `${elementName}__actions-component`)
        +toggle({
          name: 'subscribe events',
          usage: 'subscribe'})
      div(class = `${elementName}__actions-component`)
        +toggle({
          name: 'disable',
          usage: 'disable'})
      div(class = `${elementName}__actions-component`)
        +toggle({
          name: 'destroy',
          usage: 'destroy'})
    div(class = `${elementName}__apply`)
      +button({text: 'Apply changes'})



