include ../../input-field/input-field.pug
include ../../toggle/toggle.pug

mixin main-setup()
  -
    const elementName = 'main-setup'

  fieldset(class = `${elementName} js-${elementName}`)
    legend Main
    div(class = `${elementName}__component`)
      +input-field({
        labelText: 'min',
        usage: 'min'})
    div(class = `${elementName}__component`)
      +input-field({
        labelText: 'max',
        usage: 'max'})
    div(class = `${elementName}__component`)
      +input-field({
        labelText: 'from',
        usage: 'from'})
    div(class = `${elementName}__component`)
      +input-field({
        labelText: 'to',
        usage: 'to'})
    div(class = `${elementName}__component`)
      +toggle({
        name: 'vertical',
        usage: 'vertical'})
    div(class = `${elementName}__component`)
      +toggle({
        name: 'range',
        usage: 'range'})
    div(class = `${elementName}__component`)
      +toggle({
        name: 'bar',
        usage: 'bar'})
    div(class = `${elementName}__component`)
      +toggle({
        name: 'tip',
        usage: 'tip'})
