include ../panel/panel.pug

mixin range-slider(options = {})
  include range-slider-utils.pug
    -
      const {
        min,
        max,
        from,
        to,
        vertical = 'false',
        range,
        bar,
        tip,
        scale,
        scaleBase,
        step,
        interval,
        sticky,
        shiftOnKeyDown,
        shiftOnKeyHold,
        radioGroupName
      } = options

      const {
        blockName,
        verticalChecked,
        rangeChecked,
        barChecked,
        tipChecked,
        scaleChecked,
        stickyChecked,
        minChecked,
        maxChecked,
        fromChecked,
        toChecked,
        stepChecked,
        intervalChecked,
        shiftOnKeyDownChecked,
        shiftOnKeyHoldChecked,
        scaleBaseChecked,
        modifier
      } = prepareOptions({
        min,
        max,
        from,
        to,
        vertical,
        range,
        bar,
        tip,
        scale,
        scaleBase,
        step,
        interval,
        sticky,
        shiftOnKeyDown,
        shiftOnKeyHold
      });

    div(class=`${blockName} ${blockName}${modifier} js-${blockName}`)
      div(class=`${blockName}__slider-metalamp ${blockName}__slider-metalamp${modifier} 
        js-${blockName}__slider-metalamp`)
        input(class='slider-metalamp js-slider-metalamp' 
        data-min=minChecked
        data-max=maxChecked
        data-from=fromChecked
        data-to=toChecked
        data-vertical=verticalChecked
        data-range=rangeChecked
        data-bar=barChecked
        data-tip=tipChecked
        data-scale=scaleChecked
        data-scalebase=scaleBaseChecked
        data-step=stepChecked
        data-interval=intervalChecked
        data-sticky=stickyChecked
        data-shiftonkeydown=shiftOnKeyDownChecked
        data-shiftonkeyhold=shiftOnKeyHoldChecked
        )
      div(class=`${blockName}__panel js-${blockName}__panel`)
        +panel({radioGroupName})
