include ../../input-field/input-field.pug
include ../../toggle/toggle.pug

mixin control-movement-setup()
  -
    const elementName = 'control-movement-setup'

  fieldset(class = `${elementName} js-${elementName}`)
    legend Control movement
    div(class = `${elementName}__component`)
      +toggle({name: 'sticky',
        usage: 'sticky'})
    div(class = `${elementName}__component`)
      +input-field({
        labelText: 'shift on key down',
        usage: 'shiftOnKeyDown'})
    div(class = `${elementName}__component`)
      +input-field({
        labelText: 'shift on key hold',
        usage: 'shiftOnKeyHold'})

