mixin radiobuttons(options = {})
  -
    function getValidValue (list, value, defaultValue = '') {
    return value = list.includes(value) ? value : defaultValue
    }

    const {
      labelText = '',
      categories = [],
      radioGroupName = ''} = options
    let { usage = ''} = options

    const elementName = 'radiobuttons'
    const validUsages = ['step', 'interval']

    usage = getValidValue(validUsages, usage, '')

  fieldset(class = elementName)= labelText
    ul(class = `${elementName}__list`)
      if Array.isArray(categories) && categories.length
        each value in categories
          - const {name = '', checked = false} = value
            li(class = `${elementName}__cat-wrapper`)
              label(class = `${elementName}__cat`)
                input(class = `${elementName}__cat-checkbox js-radiobuttons_usage_${value.usage}` type = "radio" name = radioGroupName value = name checked = checked)
                span(class = `${elementName}__cat-radiomark`)
                p(class = `${elementName}__cat-name`)= name