mixin input-field({labelText = '', usage = ''} = {})
  -
    const prepareOptions = require ('@com/input-field/input-field-utils.js').default;
    
    const{
      elementName,
      usageChecked
    } = prepareOptions({usage});

  label(class = elementName)= labelText
    input(class = `${elementName}__input ${elementName}__input_usage_${usageChecked} js-${elementName}__input_usage_${usageChecked}` name = usageChecked)





