mixin input-field({labelText = '', usage = ''} = {})
  include input-field-utils.pug
    -
      const{
      elementName,
      usageChecked
        } = prepareOptions({usage});

    label(class = elementName)= labelText
      input(class = `${elementName}__input ${elementName}__input_usage_${usage} js-${elementName}__input_usage_${usage}` name = usage)





