include ../../toggle/toggle.pug
include ../../radiobuttons/radiobuttons.pug
include ../../input-field/input-field.pug

mixin scale-setup(options = {})
  -
    const blockName = 'scale-setup';
    const {radioGroupName} = options;
    const {
      scale,
      radiobuttons,
      step,
      interval
    } = require('@com/panel/scale-setup/scale-setup.json');

  fieldset(class=`${blockName} js-${blockName}`)
    legend Scale
    div(class=`${blockName}__component ${blockName}__component_type_scale`)
      +toggle(scale)
    span scale base
    div(class=`${blockName}__component ${blockName}__component_type_scale-base`)
      +radiobuttons({...radiobuttons, radioGroupName})
    div(class=`${blockName}__component ${blockName}__component_type_interval-step`)
      div(class=`${blockName}__component ${blockName}__component_type_step`)
        +input-field(step)
      div(class=`${blockName}__component ${blockName}__component_type_interval`)
        +input-field(interval)