include ../../input-field/input-field.pug
include ../../toggle/toggle.pug
include ../../radiobuttons/radiobuttons.pug

mixin scale-setup()
  -
    const elementName = 'scale-setup'

  fieldset(class = `${elementName} js-${elementName}`)
    legend Scale
    div(class = `${elementName}__component ${elementName}__component_type_scale js-${elementName}__component_type_scale`)
      +toggle({
        name: 'scale',
        usage: 'scale'})
    span scale base
    div(class = `${elementName}__component ${elementName}__component_type_scaleBase js-${elementName}__component_type_scaleBase`)
      +radiobuttons({
        categories:
        [{name:'step', usage: 'step', radioGroupName: ''}, 
        {name:'interval', usage: 'interval', radioGroupName: ''}],
        radioGroupName})
    div(class = `${elementName}__component ${elementName}__component_type_interval-step`)
      div(class = `${elementName}__component ${elementName}__component_type_step js-${elementName}__component_type_step`)
        +input-field({
          labelText: 'step',
          usage: 'step'})
      div(class = `${elementName}__component ${elementName}__component_type_interval js-${elementName}__component_type_interval`)
        +input-field({
          labelText: 'interval',
          usage: 'interval'})