include ../panel/panel.pug

mixin rangeslider(options = {})
  -
    const {
      min,
      max,
      from,
      to,
      vertical = 'false',
      range,
      bar,
      tip,
      scale,
      scaleBase,
      step,
      interval,
      sticky,
      shiftOnKeyDown,
      shiftOnKeyHold} = options

    const elementName = 'rangeslider'

    const modifer = vertical === 'true' ? '_orientation_vertical' : ''

  div(class = `${elementName} ${elementName}${modifer} js-${elementName}`)
    div(class = `${elementName}__slider-metalamp ${elementName}__slider-metalamp${modifer} js-${elementName}__slider-metalamp`)
      input(class = 'slider-metalamp js-slider-metalamp' 
      data-min = min
      data-max = max
      data-from = from
      data-to = to
      data-vertical = vertical
      data-range = range
      data-bar = bar
      data-tip = tip
      data-scale = scale
      data-scalebase = scaleBase
      data-step = step
      data-interval = interval
      data-sticky = sticky
      data-shiftonkeydown = shiftOnKeyDown
      data-shiftonkeyhold = shiftOnKeyHold
      )
    div(class = `${elementName}__panel js-${elementName}__panel`)
      +panel({radioGroupName})
