mixin toggle({name = '', value = '', usage = '', isChecked = false} = {})
  include toggle-utils.pug
    -
      const{
        elementName,
        usageChecked,
        valueChecked,
        nameChecked
      } = prepareOptions({usage, value, name});

    label(class = `${elementName} js-${elementName}`)= valueChecked
      input(class = `${elementName}__checkbox js-${elementName}__checkbox ${elementName}__checkbox_usage_${usageChecked}
        js-${elementName}__checkbox_usage_${usageChecked}` type = "checkbox" name = nameChecked value = valueChecked 
        checked = isChecked tabindex = "-1")
      span(class = `${elementName}__checkmark js-${elementName}__checkmark` tabindex = "0")
        span(class = `${elementName}__ball`)