mixin toggle({name = '', value = '', usage = '', isChecked = false} = {})
  include toggle-utils.pug
    -
      const{
        blockName,
        usageChecked,
        valueChecked,
        nameChecked
      } = prepareOptions({usage, value, name});

    label(class=`${blockName} js-${blockName}`)= valueChecked
      input(class=`${blockName}__checkbox js-${blockName}__checkbox ${blockName}__checkbox_usage_${usageChecked}
        js-${blockName}__checkbox_usage_${usageChecked}` type="checkbox" name=nameChecked value=valueChecked 
        checked=isChecked)
      span(class=`${blockName}__checkmark js-${blockName}__checkmark`)
        span(class=`${blockName}__ball`)