mixin toggle({name = '', usage = ''} = {})
  -
    function getValidValue (list, value, defaultValue = '') {
    return value = list.includes(value) ? value : defaultValue
    }

    const elementName = 'toggle'

    const validUsages = ['vertical', 'range', 'bar', 'tip', 'scale', 'sticky', 'subscribe', 'disable', 'destroy']
    usage = getValidValue(validUsages, usage, '')

  label(class = elementName)= name
    input(class = `${elementName}__checkbox js-toggle-${usage}` type = "checkbox" name = name value = name)
    span(class = `${elementName}__checkmark`)
      span(class = `${elementName}__ball`)